[submodule "ext/tgit"]
	path = ext/tgit
	url = https://gitlab.com/tortoisegit/tgit.git
[submodule "ext/editorconfig"]
	path = ext/editorconfig
	url = https://github.com/editorconfig/editorconfig-core-c.git
